@font-face {
  font-family: "SF Mono Light";
  src:
    local("SF Mono Light"),
    url("./sf-mono-light.woff2")
    format("woff2"); /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "demo";
  src: url("data:application/font-woff2;base64,d09GMgABAAAAAADwAAoAAAAAAiQAAACoAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAABmAALAogOAE2AiQDBgsGAAQgBSAHIBuDAciO1EZ3I/mL5/+5/rfPnTt9/9Qa8H4cUUZxaRbh36LiKJoVh61XGzw6ufkpoeZBW4KphwFYIJGHB4LAY4hby++gW+6N1EN94I49v86yCpUdYgqeZrOWN34CMQg2tAmthdli0eePIwAKNIIRS4AGZFzdX9lbBUAQlm//f262/61o8PlYO/D1/X4FrWFFgdCQD9DpGJSxmFyjOAGUU4P0qigcNb82GAAA")
    format("woff2");
}
