$font-stack: Helvetica, sans-serif;
$primary-color: #333;

@import "./a.css";
@import "/b.css";
@import "./c.css";

body {
  font: 100% $font-stack;
  color: $primary-color;
  background: url(img/mindon.png) no-repeat center center;
}